<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Ayush's Blog</h1>
                            <span class="subheading">A collection of my random thoughts.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for data in blog_data: %}
                    {% if data['id'] == 1 %}
                    <div class="post-preview">
                        <a href="{{url_for('get_post', index=data['id'])}}">
                            <h2 class="post-title">{{data['title']}}</h2>
                            <h3 class="post-subtitle">{{data['subtitle']}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Ayush Giri</a>
                            on September 24, 2021
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    {% elif data['id'] == 2 %}
                    <div class="post-preview">
                        <a href="{{url_for('get_post', index=data['id'])}}">
                            <h2 class="post-title">{{data['title']}}</h2>

                        <h3 class="post-subtitle">{{data['subtitle']}}</h3>
                            </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Ayush Giri</a>
                            on September 18, 2021
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    {% elif data['id'] == 3 %}
                    <div class="post-preview">
                        <a href="{{url_for('get_post', index=data['id'])}}">
                            <h2 class="post-title">{{data['title']}}</h2>
                            <h3 class="post-subtitle">{{data['subtitle']}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Ayush Giri</a>
                            on August 24, 2021
                        </p>
                    </div>

                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    {% elif data['id'] == 4 %}
                    <div class="post-preview">
                        <a href="{{url_for('get_post', index=data['id'])}}">
                            <h2 class="post-title">{{data['title']}}</h2>
                            <h3 class="post-subtitle">{{data['subtitle']}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Ayush Giri</a>
                            on July 8, 2021
                        </p>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
{% include 'footer.html' %}

</html>
